


.breadcrumb {
    padding: 30px 0;
    color: #8B8B8B;
    overflow-x: hidden;
}
.breadcrumb__list {
    display: flex;
    align-items: center;
    gap: 10px;

    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.breadcrumb__list::-webkit-scrollbar {
    width: 6px;
}  
  .breadcrumb__list::-webkit-scrollbar-thumb {
    background-color: transparent;
}  
  .breadcrumb__list::-webkit-scrollbar-track {
    background-color: transparent;
}

.breadcrumb__item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.breadcrumb__item.last  svg{
    display: none;
}
.breadcrumb__item:hover {
    color: #4DAE22;
}
.breadcrumb__item svg{
    stroke: #8B8B8B;
    height: 16px;
    width: 16px;
}
.breadcrumb__item:hover svg{
    stroke: #4DAE22;
}

.articles-title{
    max-width: 740px;
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.articles-subtitle{
    padding: 30px 0 40px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
}
.articles-container{
    display: flex;
    gap: 30px;
}
.filter-overlay.active{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}
.filter-overlay.active .filter-list-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 0;
    background: #fff;
    justify-content: center;
    animation: showFilter .3s linear forwards;
}
@keyframes showFilter {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
.filter-overlay.active .filter-name{
    display: block;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}
.filter-overlay.active .filter-close{
    display: block;
}
.filter-overlay.active .filter-title .count,
.filter-overlay.active .filter-item .count{
    background: #F9F9F9;
}
.filter-button-container {
    display: none;
}
.filter-button-container svg{
    width: 16px;
    height: 16px;
    stroke: #4DAE22;
}
.filter-button-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.filter-button-container button:hover svg{
    stroke: #fff;
    
}

.filter-list-wrapper {
    background: #F9F9F9;
    border-radius: 12px;
    padding: 20px 24px;
    width: 300px;
    
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.filter-name{
    display: none;
}
.filter-close{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 42px;
    height: 42px;
    background: #F9F9F9;
    border-radius: 10px;
    padding: 9px;
}
.filter-close:hover{
    transform: scale(1.1);
}
.filter-close:active{
    transform: scale(0.8);
}
.filter-title {
    color: #4DAE22;
    font-weight: 600;
    font-size: 14px;

    display: flex;
    gap: 10px;
    align-items: center;
}
.filter-title .count,
.filter-item .count {
    background: #FFFFFF;
    border-radius: 100px;
    padding: 4px 8px;
}
.filter-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-right: 60px;
}
.filter-item {
    font-size: 14px;

    display: flex;
    gap: 10px;
    align-items: center;
}
.filter-item a:hover{
    color: #4DAE22;
    transition: .2s linear;
}
.filter-item .count{
    color: #8B8B8B;
}

.articles-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
.article {
    position: relative;
    flex: 30%;
    background: #F7F7F7;
    border-radius: 12px;
    overflow: hidden;
    min-width: 250px;

    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-direction: column;
    gap: 15px;
}
.article .marker{
    position: absolute;
    top: 10px;
    left: 10px;

    background: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
}
.article__title,
.article__description {
    padding: 0 20px;
}
.article__title {
    font-weight: 600;
    font-size: 18px;
    padding-top: 5px;
}
.article__description {
    padding-bottom: 20px;
    line-height: 130%;
}

.button-show-wrapper{
    display: flex;
    justify-content: center;
    padding: 26px 0;
}


/*! MEDIA QUERIES */


@media (max-width: 1000px) {
    .articles-container{
        flex-direction: column;
    }
    .filter-list-wrapper {
        width: auto;
    }
    .filter-button-container {
        display: block;
    }
    .filter-overlay {
        display: none;
    }
    .button-show-wrapper button{
        width: 30%;
    }
}


@media (max-width: 768px) {
    .button-show-wrapper button{
        width: 50%;
    }
}



@media (max-width: 480px) {
    .articles-title{
        font-size: 24px;
    }
    .articles-subtitle{
        font-size: 16px;
    }

    .article__title {
        font-size: 16px;
    }
    .article__description {
        font-size: 14px;
    }
    .button-show-wrapper button{
        width: 100%;
    }

    .filter-overlay.active .filter-list-wrapper{
        right: 0;
    }
}



@media (max-width: 360px) {
}