

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --menu_icon_length: 24px;
    --menu_icon_weight: 2px;
    --menu_icon_space_between: 2.2;
    --menu_icon_color: white;
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background: #fff;
    color: #232323;
    /* font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */
}

a,
button{
    text-decoration: none;
    color: inherit;
    border: none;
    cursor: pointer;
}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.container{
    max-width: 1330px;
    padding: 0 20px;
    margin: 0 auto;
}

.noscroll{
    overflow: hidden;
}

.green-button{
  font-size: 16px;
  background: #70BB18;
  color: #fff;
  padding: 16px 24px;
  border-radius: 8px;
  transition: .2s linear;
}
.green-button:hover{
  background: #4DAE18;
}
.green-button:active{
  opacity: .7;
}
.green-button:disabled{
  background: #D2D2D2;
  color: #A6A6A6;
}


/*! TOP-BAR */

.top-bar{
    padding: 20px 0;

    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

.logo__wrapper{
    max-width: 190px;
}

.phone,
.email{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.phone a,
.email a{
    font-size: 18px;
    font-weight: 600;
    font-feature-settings: 'pnum' on, 'lnum' on;
}
.email a{
    color: #4DAE22;
}
.phone span,
.email span{
    font-size: 14px;
    opacity: .6;
}

.top-bar__actions{
    display: flex;
    align-items: center;
    gap: 8px;
}

.search,
.cart{
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;
    transition: .2s linear;
}
.search:hover,
.cart:hover{
    background: #F4F4F4;
    transition: .2s linear;
}

.authentication-block{
    display: flex;
    gap: 8px;
    align-items: center;
    background: #F4F4F4;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}
.authentication-block span{
    color: #8B8B8B;
}

.icon-wrapper{
    width: 24px;
    height: 24px;
}


/*! MENU BURGER*/

.menu-icon-wrapper {
    background-color: #4DAE18;
    border-radius: 8px;
    padding: 5px;
    width: calc(var(--menu_icon_length) + 11px);
    height: calc(var(--menu_icon_length) + 11px);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .menu-icon {
    position: relative;
    width: var(--menu_icon_length);
    height: var(--menu_icon_weight);
    background-color: var(--menu_icon_color);
    border-radius: 2px;
  }
  
  .menu-icon::before,
  .menu-icon::after {
    content: '';
    position: absolute;
    left: 0;
    width: var(--menu_icon_length);
    height: var(--menu_icon_weight);
    background-color: var(--menu_icon_color);
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
    border-radius: 2px;
  
  }
  .menu-icon::before{
    top: -5px;
  }  
  .menu-icon::after {
    top: 5px;  
  }
  
  .menu-icon.menu-icon-active {
    background-color: transparent;
  }
  
  .menu-icon.menu-icon-active::before,
  .menu-icon.menu-icon-active::after {
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
  }
  .menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
  }
  .menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
  }


  /*! MENU NAV */

  .menu-nav-wrapper{
    background: #70BB18;
    color: #fff;
  }
  .menu-nav-list{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .menu-nav-item{
    position: relative;
    font-size: 18px;
    padding: 20px 0;
  }
  .menu-nav-item .link{
    display: flex;
    align-items: center;
    gap: 6px;
  }
  .menu-nav-item .underline{
    display: none;
    height: 4px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: #232323;
    transition: .2s linear;
  }
  .menu-nav-item.active .underline{
    display: block;
  }
  .menu-nav-item:hover .underline{
    display: block;
  }
  .menu-nav-item .arrow-icon{
    width: 16px;
    height: 16px;
    transition: .2s linear;
  }
  .menu-nav-item .link:hover{
    transform: scale(1.03);
  }
  .menu-nav-item:hover .arrow-icon{
    transform: rotate(180deg);
    transition: .2s linear;
  }

  .menu-nav-item .sub-menu{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    color: #232323;
    width: max-content;
    background: #fff;
    padding: 20px;
    border-radius: 0px 0px 12px 12px;
    z-index: 100;
  }
  .menu-nav-item:hover .sub-menu{
    display: block;
  }
  .menu-nav-item .sub-menu-list{
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  .menu-nav-item .sub-menu-item:hover{
    transform: scale(1.03);
  }


  /*! MENU MOBILE */

.menu-mobile-overlay {
    position: relative;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    z-index: 100;
}
.menu-mobile-overlay.active{
    display: block;
}
.menu-mobile-wrapper {
    padding: 20px;
    background: #fff;
    position: absolute;
    width: 320px;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
}
.menu-mobile-wrapper .menu-icon-wrapper{
    position: absolute;
    top: 20px;
    right: 20px;
}

.menu-mobile{
    display: flex;
    flex-direction: column;
    gap: 40px;

    animation: showMenu .4s forwards;
}
@keyframes showMenu {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(0);
  }
  
}
.menu-mobile .menu-nav-list{
    flex-direction: column;
    align-items: start;
    gap: 15px;
    padding-bottom: 20px;
}
.menu-mobile .menu-nav-item{
    font-size: 16px;
    padding: 0;
    width: 100%;
}
.menu-mobile .menu-nav-item:hover .sub-menu{
  display: block;
}
.menu-mobile .menu-nav-item.active .sub-menu{
  display: block;
}
.menu-mobile .menu-nav-item .sub-menu{
  position: relative;
  transform: translateY(0);
  background: #F9F9F9;
  width: 100%;
  border-radius: 12px;
}
.menu-mobile .menu-nav-item .sub-menu-list{
  gap: 10px;
}
.menu-mobile .menu-nav-item .link{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}
.menu-mobile .menu-nav-item .link:hover{
  transform: scale(1);
}
.menu-mobile .menu-nav-item .link a{
  flex-grow: 1;
}
.menu-mobile .menu-nav-item.active .link,
.menu-mobile .menu-nav-item:hover .link{
  color: #4DAE18;
}
.menu-mobile .phone,
.menu-mobile .email{
    display: flex;
}


/*! HEADER */

  .header__main-block{
    overflow-x: hidden;
  }

  .header__main-block{
    background: #F9F9F9;
    padding: 30px 0 50px 0;
  }
  .header-wrapper{
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
  }
  .header-content-block{
    display: flex;flex-direction: column;
    gap: 10px;
    max-width: 500px;
  }
  .header-title{
    font-size: 48px;
    font-weight: 700;
  }
  .header-subtitle{
    color: #4DAE18;
    font-size: 36px;
    font-weight: 500;
  }
  .header-description{
    line-height: 130%;
    padding: 20px 0 50px 0;
  }
  .header-image-block .image-wrapper{
    height: 100%;
  }


  .header__icons-block{
    padding: 40px 0;
  }
  .header-icons-wrapper{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
  .header-icon{
    --fill-green: #4DAE18;
    --fill-black: #232323;
    background: rgba(76, 174, 24, 0.1);
    border-radius: 12px;
    height: 153px;
    font-weight: 500;
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s linear;
  }
  .header-icon:hover{
    --fill-green: #fff;
    --fill-black: #fff;
    background: rgba(76, 174, 24, 1);
    color: #fff;
  }
  .header-icon:hover .svg-icon{
    fill: #fff
  }
  .header-icon .header-icon__link{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  .header-icon .svg-icon{    
    width: 75px;
    height: 75px;
  }
  
  

/* MEDIA QUERIES */

@media (max-width: 1000px) {
    .top-bar{
        gap: 6px;
    }
    .logo__wrapper{
        max-width: 110px;
    }
    .top-bar__actions{
        gap: 4px;
    }

    .header-content-block{
      max-width: 450px;
    }
    .header-image-block{
      position: absolute;
      right: -14%;
      bottom: -46px;
      height: 100%;
    }
    .header-icon{
      flex: 24%;
    }
}

@media (max-width: 768px) {
    .phone,
    .email{
        display: none;
    }
    .menu-icon-wrapper{
        display: flex;
    }

    .menu-nav-wrapper{
        display: none;
    }

    .header-wrapper{
      padding-bottom: 100px;
    }
    .header-image-block{
      right: -150px;
      height: 300px;
    }
    .header-icon{
      height: 150px;
    }
}

@media (max-width: 480px) {
    .top-bar__actions{
        gap: 6px;
    }
    .authentication-block{
        padding: 8px;
    }
    .authentication-block span{
        display: none;
    }

    .menu-mobile-wrapper {
      width: 100%;
  }


  .header-wrapper{
    padding-bottom: 118px;
  }
  .header-title{
    font-size: 32px;
  }
  .header-subtitle{
    font-size: 24px;
  }
  .header-description{
    font-size: 14px;
    padding-bottom: 40px;
  }
  .header-image-block{
    right: -40px;
    height: 200px;
  }
  .header-icon{
    height: 94px;
    font-size: 14px;
  }
  .header-icon .header-icon__link{
    gap: 10px;
  }
  .header-icon .svg-icon{    
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 360px) {
  .header-wrapper{
    flex-direction: column;
    padding-bottom: 0;
  }
  .header-image-block{
    position: relative;
    height: auto;
    width: auto;
    right: 0;
    bottom: 0;
  }
}

