


.product-wrapper {
    display: flex;
    gap: 30px;
}
.product-title{
    font-size: 24px;
    font-weight: 600;
}
/*! FILTER */

.product-filter,
.product-sub-filter {
    min-width: 300px;
    background: #F9F9F9;
    border-radius: 12px;
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 14px;
}
.product-filter__item{
    position: relative;
}
.product-filter__title{
    display: none;
    font-weight: 600;
    font-size: 20px;
    padding: 60px 0 20px 0;
}
.product-filter__item__link,
.product-sub-filter__item {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}
.product-filter__item:hover .product-filter__item__link,
.product-filter__item:hover .product-filter-counter,
.product-sub-filter__item:hover>a,
.product-sub-filter__item:hover .product-sub-filter-counter{
    color: #70BB18;
    transition: .2s linear;
}
.product-filter-counter,
.product-sub-filter-counter {
    background: #FFFFFF;
    border-radius: 100px;
    padding: 4px 8px;
    color: #8B8B8B;
}
.product-filter__item__arrow{
    display: none;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 4px;
    right: 0;
    transition: .2s linear;
}
.product-filter__item:hover .product-filter__item__arrow{
    transform: rotate(180deg);
}
.product-sub-filter-wrapper{
    display: none;
    position: absolute;
    top: -10px;
    right: 0;
    transform: translateX(100%);
    padding: 0 30px;
    z-index: 20;
}
.product-sub-filter{
    position: relative;
    border: 1px solid #C9C9C9;
}
.product-sub-filter::after{
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #C9C9C9;
    transform: rotate(45deg);
    top: 24px;
    left: -6px;
    z-index: -1;
}
.product-filter__item:hover .product-sub-filter-wrapper{
    display: block;
}
.filter-button-container {
    display: none;
}
.filter-button-container button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.product-filter-overlay.active{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
.product-filter-overlay.active .product-filter{
    min-width: 360px;
    position: absolute;
    top: 0; 
    bottom: 0; 
    left: 0;
    border-radius: 0;
    background: #fff;
    animation: showProductFilter .3s linear forwards;
}
.product-filter-overlay.active .product-filter-counter {
    background: #F9F9F9;
    color: #8B8B8B;
}

.filter-close{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 42px;
    height: 42px;
    background: #F9F9F9;
    border-radius: 10px;
    padding: 9px;
}

@keyframes showProductFilter {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.product {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/*! PRODUCT HEADER*/


.product__header {
    position: relative;
    display: flex;
    gap: 30px;

    padding: 30px;
    background: #F9F9F9;
    border-radius: 12px;
}
.product-image-wrapper {
    flex-shrink: 0;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    overflow: hidden;
}
.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.manufacturer {
    color: #8B8B8B;
}
.product-main-title {
    font-weight: 600;
    font-size: 30px;
}
.old-price {
    font-size: 20px;
    text-decoration-line: line-through;
    color: #858585;
}
.new-price {
    padding-top: 10px;
    font-weight: 600;
    font-size: 32px;
}
.product__header .buttons-wrapper {
    display: flex;
    align-items: stretch;
    gap: 16px;
    flex-wrap: wrap;
}
.product__header .buttons-wrapper button {
    height: 100%;
}

/*! SCREENSHOTS */

.product__screenshots{
    padding: 30px;
    background: #F9F9F9;
    border-radius: 12px;
}
.product__screenshots__title{
    line-height: 120%;
    padding-bottom: 20px;
}


/*!slider*/

.bx-wrapper{
    background: transparent;
    border: none;
    box-shadow: none;
}
.product__screenshots__slider .img-wrapper{
    display: block;
    border-radius: 8px;
    overflow: hidden;
    height: 140px;
    background: #fff;
}

.product__screenshots__slider .img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 4px;
    cursor: zoom-in;
}

.bx-wrapper .bx-controls-direction a{
    background: #fff;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.bx-wrapper .bx-controls-direction a span{
   display: block;
   border-right: 1.5px solid #232323;
   border-top: 1.5px solid #232323;
   width: 12px;
   height: 12px;
}
.bx-wrapper .bx-prev{
    left: -16px;
}
.bx-wrapper .bx-next {
    right: -16px;
}
.bx-wrapper .bx-controls-direction a.bx-next span {
    transform: rotate(45deg) translateX(-18%) translateY(18%);
}
.bx-wrapper .bx-controls-direction a.bx-prev span {
    transform: rotate(-135deg) translateX(-18%) translateY(18%);
}
.bx-wrapper .bx-controls-direction a:hover{
    transform: scale(1.1);
}
.bx-wrapper .bx-controls-direction a:active{
    transform: scale(.8);
}


/*! PRODUCT TABS */

.tab-list {
    display: flex;
    gap: 32px;
    padding-bottom: 32px;

    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}
.tab-list::-webkit-scrollbar {
    width: 6px;
}  
.tab-list::-webkit-scrollbar-thumb {
    background-color: transparent;
}  
.tab-list::-webkit-scrollbar-track {
    background-color: transparent;
}


.tab-item {
    position: relative;
    font-size: 18px;
    cursor: pointer;
}
.tab-item.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 4px;
    background: #4DAE18;
    border-radius: 2px;
}
.tab-item:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 4px;
    background: #4DAE18;
    border-radius: 2px;
}

.product__tabs__body{
    background: #F9F9F9;
    border-radius: 12px;
    padding: 30px;
}

.technical-data__list {
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
.technical-data__list__item {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.technical-data-name {
    color: #8B8B8B;
}
.technical-data-info{
    text-align: right;
}


.compatible-editions {
    padding-top: 40px;
}
.compatible-editions__list {
    padding-top: 20px;

    display: flex;
    align-items: center;
    column-gap: 20px;
    row-gap: 30px;
    flex-wrap: wrap;
}
.compatible-editions__list__item a{
    background: #E2F1D1;
    border-radius: 8px;
    padding: 8px 12px;
    color: #70BB18;
    font-weight: 600;
    transition: .2s linear;
}
.compatible-editions__list__item svg{
    stroke: #70BB18;
}
.compatible-editions__list__item a span{
    margin-right: 10px;
}
.compatible-editions__list__item a:hover{
    color: #fff;
    background: #4DAE18;
}
.compatible-editions__list__item a:hover svg{
    stroke: #fff;
}

.product__tabs__body .descripton{
    padding-top: 40px;
}
.product__tabs__body .descripton .product-title{
    padding-bottom: 20px;
}
.product__tabs__body .descripton .description__content{
    line-height: 140%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product__tabs__body [data-tab]{
    display: none;
}
.product__tabs__body .active{
    display: block;
    animation: showTab .4s linear forwards;
}
@keyframes showTab {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/*! PRODUCT FORM */

.installation-module-form {
    background: #F9F9F9;
    border-radius: 12px;
    padding: 30px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}
#installation-form{
    display: flex;
    align-items: end;
    gap: 15px;
}
#installation-form input {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 8px;
    padding: 16px 18px 18px 18px;
    text-align: center;
    font-size: 16px;
}
#installation-form input::placeholder {
    color: #8B8B8B;
    font-size: 16px;
}
.installation-module-form .input-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.installation-module-form .buttons-wrapper {
    display: flex;
    align-items: end;
    gap: 15px;
}

.installation-module-form .input-wrapper.error .input-info{
    color: red;
}
#installation-form .input-wrapper.error input{
    border: 1px solid red;
}
.installation-module-form .input-wrapper.success .input-info{
    color: #4DAE18;
    font-weight: 600;
}
#installation-form .input-wrapper.success input{
    border: 1px solid #4DAE18;
    color: #4DAE18;
}


/*! INFO PRODUCT FIXED BLOCK*/

.info-product-fixed-block {
    display: none;
    position: fixed;
    right: 0;
    bottom: 30px;
    left: 0;
    z-index: 50;
}
.info-product-fixed-block.active{
    display: block;
    animation: showProductFixedBlock .2s linear forwards;
}
@keyframes showProductFixedBlock {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0);
    }
}
.info-product-fixed-wrapper{
    position: relative;

    border: 1px solid #DDDDDD;
    border-radius: 12px;
    overflow: hidden;
}
.info-product-fixed {
    position: relative;
    background: #F9F9F9;
    padding: 16px;

    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;

    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
  }
  .info-product-fixed::-webkit-scrollbar {
    width: 0;
    height: 0;
  }  
  .info-product-fixed::-webkit-scrollbar-thumb {
    background-color: transparent;
  }  
  .info-product-fixed::-webkit-scrollbar-track {
    background-color: transparent;
  }
.info-product-fixed__content {
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    gap: 30px;
    padding-right: 160px;
    overflow: hidden;
}
.info-product-fixed .img-wrapper {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    overflow: hidden;
}
.info-product-fixed__content__text{
    position: relative;
    align-self: stretch;
    flex-grow: 1;

    display: flex;
    align-items: end;
}
.info-product-tilte {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 500px;
    font-weight: 500;
}
.info-product-fixed .info-product-cost {
    font-weight: 600;
    font-size: 24px;
}
.info-product-fixed__content .white-shadow{
    position: absolute;
    width: 30px;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, transparent, white);
}
.info-product-fixed__buttons {
    display: flex;
    align-items: stretch;
    gap: 16px;
    flex-shrink: 0;
}
.info-product-fixed__buttons button{
    height: 100%;
}

.info-product-fixed-block .left-white-shadow,
.info-product-fixed-block .right-white-shadow{
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    z-index: 60;
    background: linear-gradient(90deg, rgba(255,255,255,1) 50%, transparent 100%);
}
.info-product-fixed-block .left-white-shadow.active,
.info-product-fixed-block .right-white-shadow.active{
    display: block;
    animation: showShadow .6s linear forwards;
}
@keyframes showShadow {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.info-product-fixed-block .left-white-shadow{
    left: 0;    
}
.info-product-fixed-block .right-white-shadow{
    transform: rotate(180deg);
    right: 0;
}


/*! MEDIA QUERIES */


@media (max-width: 1000px) {
    .product-wrapper {
        flex-direction: column;
    }
    .product-filter-overlay{
        display: none;
        z-index: 100;
    }
    .product-filter{
        overflow-y: auto;
    }
    .product-filter__title{
        display: block;
    }
    .product-filter__item{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .product-filter__item__arrow{
        display: block;
    }
    .product-sub-filter-wrapper{
        position: relative;
        top: 0;
        right: 0;
        transform: translateX(0);
        padding: 0;
        width: 100%;
    }
    .product-sub-filter{
        border: none;
    }
    .product-sub-filter::after{
        display: none;
    }
    .filter-button-container {
        display: block;
    }
    .filter-close{
        display: block;
    }
}


@media (max-width: 768px) {
    .product__header{
        padding-bottom: 110px;
    }
    .product__header .buttons-wrapper {
        position: absolute;
        left: 30px;
        bottom: 30px;
    }

    #installation-form{
        flex-wrap: wrap;
    }

    .info-product-fixed__content {
        padding-right: 20vw;
    }
}

@media (max-width: 650px) {
    .product__header{
        padding-bottom: 30px;
        flex-direction: column;
    }
    .product__header .buttons-wrapper {
        position: relative;
        left: 0;
        bottom: 0;
    }
}

@media (max-width: 480px) {
    .product-filter-overlay.active .product-filter{
        right: 0;
        min-width: 300px;
    }

    .product-title,
    .new-price{
        font-size: 24px;
    }
    .product__header .buttons-wrapper div{
        flex-grow: 1;
    }
    .product__header .buttons-wrapper button{
        width: 100%;
    }

    .installation-module-form .buttons-wrapper {
        flex-wrap: wrap;
    }

    .installation-module-form .buttons-wrapper>div{
        flex-grow: 1;
    }
    .installation-module-form button{
        width: 100%;
    }

    .info-product-fixed-block {
        bottom: 0;
    }
    .info-product-fixed-block .container{
        padding: 0;
        margin: 0;
    }
    .info-product-fixed-wrapper {
        border: none;
        border-radius: 0;
      }
    .info-product-fixed__content {
        padding-right: 60px;
    }
}

@media (max-width: 360px) {

    .product-image-wrapper {
        width: 100%;
        height: auto;
    }
    
    #installation-form input {
        width: 100%;
    }

    .info-product-fixed .img-wrapper {
        width: 36px;
        height: 36px;
    }
    .info-product-tilte {
        font-size: 14px;
    }
    .info-product-fixed .info-product-cost {
        font-size: 14px;
    }
    .info-product-fixed-block .green-button span{
        display: none;
    }
    .info-product-fixed-block button{
        padding: 8px 12px;
        font-size: 14px;
    }
}
/*! */
.bx-wrapper{
    position: relative;
}
.bx-controls{
    position: absolute;
    top: 50%;
}
.bx-controls-direction{
    position: relative;
}
.bx-next,
.bx-prev{
    position: absolute;
}